In [2]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("CREATE TABLE Book(BookID integar PRIMARY KEY, Booktitle text, BookAuthor text, Publisher text, Price integar, Pages integar)")

In [4]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("INSERT INTO Book VALUES(1,'Godzila','Rizwan','SONY',600,579)")
cursorObj.execute("INSERT INTO Book VALUES(2,'Godzila_1','Bilal','SONY',500,5769)")
cursorObj.execute("INSERT INTO Book VALUES(3,'Godzila_2','Huzaifa','BLUE_BIRD',900,5679)")
cursorObj.execute("INSERT INTO Book VALUES(4,'Godzila_3','Osarim','SONY',600,5679)")
cursorObj.execute("INSERT INTO Book VALUES(5,'Godzila_4','Ahmed','SONY',600,5579)")
cursorObj.execute("INSERT INTO Book VALUES(6,'Godzila_5','Ali','AMAZON',700,4579)")
cursorObj.execute("INSERT INTO Book VALUES(7,'Godzila_6','Rizwan','SONY',1000,979)")
cursorObj.execute("INSERT INTO Book VALUES(8,'Godzila_7','Rizwan','AMAZON',1100,79)")
cursorObj.execute("INSERT INTO Book VALUES(9,'Godzila_8','Bilal','SONY',900,379)")
cursorObj.execute("INSERT INTO Book VALUES(10,'Godzila_9','Huzaifa','SONY',600,479)")
con.commit()

In [9]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT * FROM Book")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(1, 'Godzila', 'Rizwan', 'SONY', 600, 579)
(2, 'Godzila_1', 'Bilal', 'SONY', 500, 5769)
(3, 'Godzila_2', 'Huzaifa', 'BLUE_BIRD', 900, 5679)
(4, 'Godzila_3', 'Osarim', 'SONY', 600, 5679)
(5, 'Godzila_4', 'Ahmed', 'SONY', 600, 5579)
(6, 'Godzila_5', 'Ali', 'AMAZON', 700, 4579)
(7, 'Godzila_6', 'Rizwan', 'SONY', 1000, 979)
(8, 'Godzila_7', 'Rizwan', 'AMAZON', 1100, 79)
(9, 'Godzila_8', 'Bilal', 'SONY', 900, 379)
(10, 'Godzila_9', 'Huzaifa', 'SONY', 600, 479)

In [10]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT BookAuthor FROM Book WHERE BookID = 8 ")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

('Rizwan',)

In [11]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT Price FROM Book WHERE BookID = 8 ")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(1100,)

In [12]:
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT BookAuthor FROM Book WHERE Price = 1000 ")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

('Rizwan',)

In [44]:
import tkinter
from tkinter import font as font
window = tkinter.Tk()
window.geometry('700x400')
myfont1 = font.Font(family='Helvetica', size = 20)
window.title('MY BOOK SHOP')

label = tkinter.Label(text = '       ').pack()

label1 = tkinter.Label(text = 'MY BOOK SHOP', bg = 'Purple', fg = 'white')
label1['font']=myfont1
label1.pack(fill = 'x')

label3 = tkinter.Label(text = '       ').pack()

def selectall():
    import sqlite3
    con = sqlite3.connect('Books.db')
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM Book")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
    con.commit()
btn1 = tkinter.Button(window, text = 'SELECT ALL', fg = 'Blue', command = selectall)
btn1['font'] = myfont1
btn1.pack()

label4 = tkinter.Label(text = '       ').pack()

def bookauthor():
    import sqlite3
    con = sqlite3.connect('Books.db')
    cursorObj = con.cursor()
    cursorObj.execute("SELECT BookAuthor FROM Book")
    rows1 = cursorObj.fetchall()
    for row1 in rows1:
        print(row1)
    con.commit()
btn2 = tkinter.Button(window, text = 'Book  Author', fg = 'Blue', command =bookauthor)
btn2['font'] = myfont1
btn2.pack()

label5 = tkinter.Label(text = '       ').pack()

def specific():
    import sqlite3
    con = sqlite3.connect('Books.db')
    cursorObj = con.cursor()
    cursorObj.execute("SELECT Price FROM Book WHERE BookID = 8 ")
    rows2 = cursorObj.fetchall()
    for row2 in rows2:
        print(row2)
    con.commit()
btn3 = tkinter.Button(window, text = 'SpecificValue', fg = 'Blue', command =specific)
btn3['font'] = myfont1
btn3.pack()

label6 = tkinter.Label(text = '       ').pack()

def specific1():
    import sqlite3
    con = sqlite3.connect('Books.db')
    cursorObj = con.cursor()
    cursorObj.execute("SELECT BookID FROM Book WHERE BookID = 7 ")
    rows2 = cursorObj.fetchall()
    for row2 in rows2:
        print(row2)
    con.commit()
btn4 = tkinter.Button(window, text = 'SpecificValue', fg = 'Blue', command =specific1)
btn4['font'] = myfont1
btn4.pack()
    
window.mainloop()

(1, 'Godzila', 'Rizwan', 'SONY', 600, 579)
(2, 'Godzila_1', 'Bilal', 'SONY', 500, 5769)
(3, 'Godzila_2', 'Huzaifa', 'BLUE_BIRD', 900, 5679)
(4, 'Godzila_3', 'Osarim', 'SONY', 600, 5679)
(5, 'Godzila_4', 'Ahmed', 'SONY', 600, 5579)
(6, 'Godzila_5', 'Ali', 'AMAZON', 700, 4579)
(7, 'Godzila_6', 'Rizwan', 'SONY', 1000, 979)
(8, 'Godzila_7', 'Rizwan', 'AMAZON', 1100, 79)
(9, 'Godzila_8', 'Bilal', 'SONY', 900, 379)
(10, 'Godzila_9', 'Huzaifa', 'SONY', 600, 479)
('Rizwan',)
('Bilal',)
('Huzaifa',)
('Osarim',)
('Ahmed',)
('Ali',)
('Rizwan',)
('Rizwan',)
('Bilal',)
('Huzaifa',)
(1100,)
(7,)