In [1]:
#SELECT
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT BookID, BookAuthor FROM Book")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(1, 'Rizwan')
(2, 'Bilal')
(3, 'Huzaifa')
(4, 'Osarim')
(5, 'Ahmed')
(6, 'Ali')
(7, 'Rizwan')
(8, 'Rizwan')
(9, 'Bilal')
(10, 'Huzaifa')

In [3]:
#WHERE
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT Price FROM Book WHERE BookAuthor = 'Rizwan'")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(600,)
(1000,)
(1100,)

In [7]:
#OREDRBY
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT * FROM Book ORDER BY Price")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(2, 'Godzila_1', 'Bilal', 'SONY', 500, 5769)
(1, 'Godzila', 'Rizwan', 'SONY', 600, 579)
(4, 'Godzila_3', 'Osarim', 'SONY', 600, 5679)
(5, 'Godzila_4', 'Ahmed', 'SONY', 600, 5579)
(10, 'Godzila_9', 'Huzaifa', 'SONY', 600, 479)
(6, 'Godzila_5', 'Ali', 'AMAZON', 700, 4579)
(3, 'Godzila_2', 'Huzaifa', 'BLUE_BIRD', 900, 5679)
(9, 'Godzila_8', 'Bilal', 'SONY', 900, 379)
(7, 'Godzila_6', 'Rizwan', 'SONY', 1000, 979)
(8, 'Godzila_7', 'Rizwan', 'AMAZON', 1100, 79)

In [9]:
#GROUPBY
import sqlite3
con = sqlite3.connect('Books.db')
cursorObj = con.cursor()
cursorObj.execute("SELECT * FROM Book GROUP BY Price")
rows = cursorObj.fetchall()
for row in rows:
    print(row)
con.commit()

(2, 'Godzila_1', 'Bilal', 'SONY', 500, 5769)
(1, 'Godzila', 'Rizwan', 'SONY', 600, 579)
(6, 'Godzila_5', 'Ali', 'AMAZON', 700, 4579)
(3, 'Godzila_2', 'Huzaifa', 'BLUE_BIRD', 900, 5679)
(7, 'Godzila_6', 'Rizwan', 'SONY', 1000, 979)
(8, 'Godzila_7', 'Rizwan', 'AMAZON', 1100, 79)